:root {
      --bg-gradient-onyx: linear-gradient(to bottom right,
                  hsl(240, 1%, 25%) 3%,
                  hsl(0, 0%, 19%) 97%);
      --bg-gradient-jet: linear-gradient(to bottom right,
                  hsla(240, 1%, 18%, 0.251) 0%,
                  hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
      --bg-gradient-yellow-1: linear-gradient(to bottom right,
                  hsl(195, 90%, 59%) 0%,
                  hsla(36, 100%, 69%, 0) 50%);
      --bg-gradient-yellow-2: linear-gradient(135deg,
                  hsla(45, 100%, 71%, 0.251) 0%,
                  hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
      --border-gradient-onyx: linear-gradient(to bottom right,
                  hsl(0, 0%, 25%) 0%,
                  hsla(0, 0%, 25%, 0) 50%);
      --text-gradient-yellow: linear-gradient(to right,
                  hsl(195, 90%, 59%),
                  hsl(195, 90%, 59%));

      /* solid */

      --jet: hsl(0, 0%, 22%);
      --onyx: hsl(240, 1%, 17%);
      --eerie-black-1: hsl(240, 2%, 13%);
      --eerie-black-2: hsl(240, 2%, 12%);
      --smoky-black: hsl(0, 0%, 7%);
      --white-1: hsl(0, 0%, 100%);
      --white-2: hsl(0, 0%, 98%);
      --orange-yellow-crayola: hsl(194, 85%, 61%);
      --vegas-gold: hsl(195, 90%, 59%);
      --light-gray: hsl(0, 0%, 84%);
      --light-gray-70: hsla(0, 0%, 84%, 0.7);
      --bittersweet-shimmer: hsl(0, 43%, 51%);

      /**
       * typography
       */

      /* font-family */
      --ff-poppins: 'Poppins', sans-serif;

      /* font-size */
      --fs-1: 24px;
      --fs-2: 18px;
      --fs-3: 17px;
      --fs-4: 16px;
      --fs-5: 15px;
      --fs-6: 14px;
      --fs-7: 13px;
      --fs-8: 11px;

      /* font-weight */
      --fw-300: 300;
      --fw-400: 400;
      --fw-500: 500;
      --fw-600: 600;

      /**
       * shadow
       */

      --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
      --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
      --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
      --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
      --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

      /**
       * transition
       */

      --transition-1: 0.25s ease;
      --transition-2: 0.5s ease-in-out;

}

*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      transition: (var(--transition-1));
      transition: (var(--transition-2));
      font-family: "Open Sans", serif;
}

.main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 100%;
      background-color: rgb(40, 39, 39);
      color: white;
}

.left,
.right {
      flex: 0.5;
      background-color: rgb(40, 39, 39);
}

.sidebar {
      height: 100%;
      background-color: rgba(6, 6, 6, 0.684);
      flex: 2;
      margin: 1rem;
      box-shadow: 5px 5px 10px rgba(98, 97, 97, 0.8);
      border-radius: 12px;
      padding: 0.4rem;
      padding-bottom: 1rem;
}

.bodys {
      background-color: rgba(6, 6, 6, 0.684);
      flex: 6;
      margin: 1rem;
      box-shadow: 5px 5px 10px rgba(98, 97, 97, 0.8);
      border-radius: 12px;
      height: 100%;
      padding-bottom: 1rem;
}

img {
      display: block;
}


.intro {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 8%;
}

.intro h1 {
      font-size: 1.5rem;
      color: white;
      font-weight: 600;
      margin-top: 15px;
}

.intro p {
      font-size: 1rem;
      color: white;
      font-weight: 300;

}

.roles {
      margin-top: 10px;
      padding: 8px;
      color: rgb(59, 58, 58);
      box-shadow: 0 0 10px rgba(197, 196, 196, 0.8);
      border-radius: 12px;
      text-align: center;
}

.image {
      border-radius: 50%;
      width: 70%;
      object-fit: contain;
}

.content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 28px;
}

.icon {
      margin-right: 15px;
      margin-left: 10px;
      margin-top: 5px;
      padding: 7px;
      box-shadow: 0 0 10px rgba(246, 244, 244, 0.8);
      border-radius: 15px;
}

.icon_bottom {
      background-color: transparent;
      text-decoration: none;
}

.icon_bottom:hover,
.leet_code_icon:hover {
      color: rgb(52, 182, 230);
      /* filter: drop-shadow(0 0 3px rgb(246, 246, 245)); */
}

.leet_code_icon {
      filter: drop-shadow(0 0 3px rgb(250, 250, 250));
      width: 30px;
      height: 30px;
}

.input {
      color: rgb(184, 184, 185);
}

.value {
      color: white;
}

.content-icons {
      display: flex;
      justify-content: center;
      gap: 25px;
}


@media screen and (min-width: 1101px) {
      .details-button {
            display: none !important;
      }
}

@media screen and (max-width: 1250px) {

      .left,
      .right {
            display: none;
      }
}

@media screen and (max-width: 1100px) {
      .main {
            flex-direction: column;
      }

      .details,
      .border {
            display: none;
      }

      .sidebar {
            height: auto;
      }

      .image {
            width: 25%;
            max-width: 200px;
            min-width: 100px;
      }

      .intro {
            margin: 20px;
            flex-direction: row;
      }

      .role {
            margin-left: 8%;
      }

      .details-button {
            display: block;
            background-color: rgb(252, 254, 255);
      }

      .details {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            color: black;
            background-color: rgb(73, 72, 72);
            /* border: 1px solid #ccc; */
            padding: 10px;
            justify-content: space-around;
      }

      .detail-res {
            display: flex;
            flex-direction: column;
      }

      .content-icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3px;
      }

      /* maiṇ */
      .nav {
            justify-content: flex-end;
      }

      .con {
            display: flex;
            bottom: 1;
            justify-content: space-around;
            align-items: center;
            background-color: rgba(56, 56, 56, 0.684);
            padding: 16px;
            width: 100%;
            color: rgb(67, 195, 227);
            border-top-right-radius: 12px;
            border-bottom-left-radius: 12px;
      }
}

@media screen and (max-width: 768px) {
      .details {
            display: flex;
            flex-direction: column;
            color: black;
            background-color: rgb(73, 72, 72);
            /* border: 1px solid #ccc; */
            padding: 10px;
            justify-content: space-around;
            height: 75%;
            border-radius: 12px;

            .card-icon {
                  display: none;
            }
      }

      .detail-res {
            display: flex;
            flex-direction: column;
      }

      .content-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 30px;
      }

      .content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 28%;
            margin-top: 5px;
      }

      .content-icons {
            display: flex;
            justify-content: center;
            margin: 5px;
            gap: 25px;
      }
}

@media screen and (max-width: 501px) {
      .details-icon {
            display: block;
      }

      .details-button {
            display: none;
      }

      .content {
            margin-left: 13%;
      }
}

@media screen and (min-width: 501px) {
      .details-icon {
            display: none;
      }

      .details-button {
            display: block;
      }
}

@media screen and (max-width: 385px) {
      .roles {
            display: none;
      }

      .sidebar {
            padding-bottom: 0;
            ;
      }
}

.details-button {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: rgba(44, 44, 44, 0.684);
      padding: 10px 15px;
      cursor: pointer;
      color: white;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 12px;
}

.details-icon {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: rgba(44, 44, 44, 0.684);
      padding: 10px 15px;
      cursor: pointer;
      color: white;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 12px;
      /* display: none; */
}

.border {
      border: 0.5px solid white;
      margin: 20px;
}

.card {
      background-color: rgba(36, 36, 36, 0.925) !important;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 6px 5px 5px rgba(200, 199, 199, 0.5);
}

.card-icon {
      font-size: 80px;
}

.download {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3%;
}

.btn {
      background-color: rgb(82, 206, 231) !important;
      border: none !important;
      padding: 10px !important;
}

/* Education */
.timeline {
      margin-bottom: 30px;
      margin-left: 50px;
}

.timeline .title-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 25px;
}

.timeline-list {
      font-size: var(--fs-6);
      margin-left: 95px;
}

.timeline-item {
      position: relative;
}

.timeline-item:not(:last-child) {
      margin-bottom: 20px;
}

.timeline-item-title {
      font-size: var(--fs-6);
      line-height: 1.3;
      margin-bottom: 7px;
}

.timeline-list span {
      color: var(--vegas-gold);
      font-weight: var(--fw-400);
      line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
      content: "";
      position: absolute;
      top: -25px;
      left: -30px;
      width: 1px;
      height: calc(100% + 50px);
      background: var(--jet);
}

.timeline-item::after {
      content: "";
      position: absolute;
      top: 5px;
      left: -33px;
      height: 6px;
      width: 6px;
      background: var(--text-gradient-yellow);
      border-radius: 50%;
      box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
      color: var(--light-gray);
      font-weight: var(--fw-300);
      line-height: 1.6;
}

.icon-box {
      width: 48px;
      height: 48px;
      border-radius: 12px;
      font-size: 18px;
}

.icon-box {
      position: relative;
      background: var(--border-gradient-onyx);
      width: 30px;
      height: 30px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: var(--orange-yellow-crayola);
      box-shadow: var(--shadow-1);
      z-index: 1;
      padding: 18px !important;
}

.icon-box::before {
      content: "";
      position: absolute;
      inset: 1px;
      background: var(--eerie-black-1);
      border-radius: inherit;
      z-index: -1;
}